<section class="formulario">
  <div class="box1">

    <div class="titulo">
      <img src="../../../../assets/DLZ-Autito2.png" alt="">
      <h4><strong>Ingresa el Código de Seguridad</strong></h4>
    </div>

    <form  class="form" action="" method="" name="code-user">

      <div class="inputs">
        <div class="box-code">
          <label for="">Código</label>
          <input type="text" id="codigo" name="codigo" tabindex=”0” required>
        </div>

      </div>

      <div class="continue">
        <input type="submit" (click)="continueToResetPass()" tabindex=”0” value="Continuar">
      </div>

    </form>
  </div>

  <div class="box2">
    <div class="sign-in">
      <p><strong>¿No tienes una cuenta?</strong></p>
      <a routerLink='/sign-in' tabindex=”0”><strong>Regístrate.</strong></a>
    </div>
  </div>
</section>
