<section class="formulario">
  <div class="box1">

    <div class="titulo">
      <img src="../../../../assets/DLZ-Autito2.png" alt="">
      <h2><strong>Recupera tu Cuenta</strong></h2>
    </div>

    <form formGroup="identify" class="form" action="" method="" name="recover" >

      <div class="inputs">
        <div class="box-mail">
          <label for="">Email</label>
          <input formControlEmail="email" type="email" id="email" name="email" tabindex=”0”  required pattern="[[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$]" required>
        </div>

      </div>

      <div class="continue">
        <input type="submit" (click)="continueToCode()" tabindex=”0” value="Continuar" required>
      </div>

    </form>
  </div>

  <div class="box2">
    <div class="sign-in">
      <p><strong>¿No tienes una cuenta?</strong></p>
      <a routerLink='/sign-in' routerLinkActive="active" ariaCurrentWhenActive="page" tabindex=”0”><strong>Regístrate.</strong></a>
    </div>
  </div>
</section>
