<section class="formulario">
  <div class="box1">

    <div class="titulo">
      <img src="../../../../assets/DLZ-Autito2.png" alt="">
      <h2><strong>Iniciar Sesión</strong></h2>
    </div>

    <form formGroup="login"  class="form"  name="log-in">

      <div class="inputs">
        <div class="box-mail">
          <label for="">Email</label>
          <input type="email" formControlName="email" rol="mail" id="email" name="email" tabindex=”0”   required pattern="[[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$]" required>
        </div>

        <div class="box-pass">
          <div class="pass-hide">
            <label for="">Contraseña</label>
            <i [className]="hide ? 'bi bi-eye' : 'bi bi-eye-slash-fill'" matSuffix (click)="hide = !hide">{{ hide ? ' Show' : ' Hide' }}</i>
          </div>
          <input  [type]="hide ? 'password' : 'text'" formControlName="password" id="pass" name="pass" tabindex=”0” required minlength="(8)" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" title="La contraseña debe contener una mayúscula y al menos un número" required>
        </div>
      </div>

      <div class="login">
        <input type="submit" tabindex=”0” value="Iniciar Sesión">
        <a routerLink='/login/identify' routerLinkActive="active" ariaCurrentWhenActive="page" tabindex=”0”><strong>¿Olvidaste tu contraseña?</strong></a>
      </div>

    </form>
  </div>

  <div class="box2">
    <div class="sign-in">
      <p><strong>¿No tienes una cuenta?</strong></p>
      <a routerLink='/sign-in' routerLinkActive="active" ariaCurrentWhenActive="page" tabindex=”0”><strong>Regístrate.</strong></a>
    </div>
  </div>

</section>

