@import 'extends-class' 
@import 'mixins-responsive'

.formulario
  @extend .font-general
  @extend .flex-column-around-center
  heigth: auto
  gap: 20px
  a
    color: $black

.box1
  @extend .flex-column-center
  background-color: $white
  width: auto
  height: auto
  border-radius: 16px
  padding: 40px
  gap: 30px
  //------------------------------
  .titulo
    @extend .flex-column-around-center
    color: $black
    img
      @extend .logoDLZ-Autito
  //------------------------------
  .div-form
    // @include screen (480px)
    //   max-width: 80%
      // margin-left: 120px

  .form
    @extend .flex-column-around-center
    gap: 30px

    // @include screen (480px)
    //   display: flex
    //   flex-direction: column
    //   align-items: center

    .inputs
      @extend .flex-column-center
      gap: 30px

      // .input-and-label
      // @include screen (480px)
      //   margin-left: 120px

      label
        display: flex
        align-items: flex-end
        vertical-align: bottom
        color: $gray

      input
        width: 487px
        height: 41px
        padding: 1px 5px
        border-radius: 12px
        border-width: 1px
        border-color: $gray
        @include screen (480px)
          max-width: 70%

      .textarea
        width: 487px
        height: 24vh
        border-radius: 12px
        border-width: 1px
        border-color: $gray

        @include screen (480px)
          max-width: 340px

  .submit
    @extend .flex-column-around-center

    .input-submit
      @extend .general-button
      @extend .large-button
      margin-top: 3vh
      background-color: $pink

      @include screen (480px)
        max-width: 60%

  //------------------------------

@media (max-width: 480px)

  .box1
    width: 430px
    heigth: auto

  .inputs

    label
      display: flex
      align-items: flex-end
      vertical-align: bottom
      color: $gray

 
