<body>
  <app-carrusel></app-carrusel>

  <app-not-found
    [visible]="!products || !products.length"
    notFoundMessage="No hay productos cargados en la tienda"
    resetLinkText="Volver al Inicio"
    resetLinkRoute="/home"
  ></app-not-found>

  <section class="contenedor" *ngIf="products && products.length">

    <app-title
      title="Todos los productos"
    ></app-title>

    <div class="contenedor-categoria">
      <div class="category">
        <a *ngFor="let tag of categories" routerLink="/store/category/{{ tag.name }}" class="tag">
          <strong>{{ tag.name }}</strong>
        </a>
      </div>

      <div class="notFound">

        <!-- <app-not-found
          [visible]="categories.name"
          notFoundMessage="Aún no hay productos asociados a esta categoría"
          resetLinkText="Volver a la Tienda"
          resetLinkRoute="/store"
        ></app-not-found> -->

      </div>
    </div>

    <div class="contenedor-productos" *ngIf="categories.length">
      <ul>
        <li *ngFor="let product of products | paginate: { itemsPerPage: 4, currentPage: p }">
          <a routerLink="/store/product/{{ product.id }}">
            <div class="col">
              <div class="image-name">
                <img
                  [src]="product.imageUrl[0]"
                  [alt]="product.name"
                  class="card-img-top"
                >
                <div class="name">
                  <strong>{{ product.name }}</strong>
                </div>
              </div>
            </div>
          </a>

          <div class="contenedor-precio">
            <div class="cart">
              <button>
                <strong><i class="bi bi-cart3"></i></strong>
              </button>
            </div>

            <div class="price">
              <span>
                <strong>{{ product.price | currency }}</strong>
              </span>
            </div>
          </div>
        </li>
      </ul>
      <div class="div-pagination">
        <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination" (responsive)=[true]></pagination-controls> 
      </div>
    </div>
  </section>
</body>



