<section class="product-carrusel">

  <app-title
    [visible]="true"
    title="Tienda"
    resetLinkRoute="/store"
  ></app-title>

  <div class="contenedorCarrusel">
    <swiper
    [slidesPerView]="4"
    [spaceBetween]="-990"
    [navigation]="true"
    [loop]="true"
    [breakpoints]="{
      '300': {
        slidesPerView: 1,
        spaceBetween: 0
      },
      '540': {
        slidesPerView: 1,
        spaceBetween: 20
      },
      '640': {
        slidesPerView: 1,
        spaceBetween: 20
      },
      '768': {
        slidesPerView: 2,
        spaceBetween: 0
      },
      '1280': {
        slidesPerView: 3,
        spaceBetween: 10
      },
      '1680': {
        slidesPerView: 4,
        spaceBetween: 20
      },
      '1920': {
        slidesPerView: 5,
        spaceBetween: 20
      },
      '2560': {
        slidesPerView: 6,
        spaceBetween: 0
      },
      '3400': {
        slidesPerView: 8,
        spaceBetween: 0
      }
    }"
    class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let product of products">

        <div class="contenedor-productos">
          <a routerLink="/store/product/{{ product.id }}">
            <div class="col">
              <div class="image-name">
                <img
                  [src]="product.imageUrl[0]"
                  [alt]="product.name"
                  class="card-img-top"
                >
                <div class="name">
                  <strong>{{ product.name }}</strong>
                </div>

              </div>

            </div>

          </a>
          <div class="contenedor-precio">
            <div class="cart">
              <button>
                <strong><i class="bi bi-cart3"></i></strong>
              </button>
            </div>

            <div class="price">
              <span>
                <strong>{{ product.price | currency }}</strong>
              </span>
            </div>
          </div>

        </div>

      </ng-template>
    </swiper>
  </div>

</section>
