<div class="contenedor">
  <div class="contenedor1">
    <div class="imagen">
      <img src="../../../../assets/DLZ-Logo-Nombre-2021.png" alt="">
    </div>

    <div class="redes">
      <a href='https://instagram.com/delorean_zeta_oficial?igshid=YmMyMTA2M2Y='><i class="bi bi-instagram"></i></a>
      <a href="·"><i class="bi bi-twitter"></i></a>
      <a href="https://youtube.com/@deloreanzeta8770"><i class="bi bi-youtube"></i></a>
    </div>
  </div>

  <div class="contenedor2">
    <p>¡Síguenos en nuestra comunidad!</p>
    <ul>
      <li>
        <a routerLink="" tabindex=”0”>Política de Privacidad</a>
      </li>
      <li>
        <a routerLink="" tabindex=”0”>Términos y Condiciones</a>
      </li>
    </ul>
  </div>
</div>

