<section class="formulario">
  <div class="box1">

    <div class="titulo">
      <img src="../../../../assets/DLZ-Autito2.png" alt="">
      <h2><strong>Crear una Cuenta</strong></h2>
    </div>

    <form formGroup="register" id="Formulario" (ngSubmit)="Submit" class="form"  >
     <div class="inputs">
        <div class="box">
          <label for="fname">Nombre</label>
          <input formControllname ="name" type="text" id="name" name="name" tabindex=”0” required minLength="3" required pattern="[[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}[ ]{1}[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}[ ]{1}[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}]" required>
        </div>

        <div class="box">
          <label for="lname">Apellido</label>
          <input formControllname ="lastname" type="text" id="lname" name="lname" tabindex=”0” required minLength="3" required pattern="[[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}[ ]{1}[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}[ ]{1}[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}]" required>
        </div>

        <div class="box">
          <label for="">Teléfono</label>
          <input formControlTelephone="Telephone" type="text" id="celphone" name="celphone" tabindex=”0” required minlength="10" required pattern="[0-9]{2}[0-9]{4}[0-9]{4}" required>
        </div>

        <div class="box">
          <label for="">Email</label>
          <input formControlEmail="email" type="email" id="email" name="email" tabindex=”0”  required pattern="[[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$]" required>
        </div>

        <div class="box-pass">
          <div class="pass-hide">
            <label for="">Contraseña</label>
            <i [className]="hide ? 'bi bi-eye' : 'bi bi-eye-slash-fill'" matSuffix (click)="hide = !hide">{{hide ? ' Show' : ' Hide'}}</i>
          </div>
          <input type="password" [type]="hide ? 'password' : 'text'"  id="pass" name="pass" tabindex=”0”   required minlength="(8)" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" title="La contraseña debe contener una mayúscula y al menos un número" required>
        </div>

        <div class="box-pass">
          <div class="pass-hide">
            <label for="">Repetir contraseña</label>
            <i [className]="hide2 ? 'bi bi-eye' : 'bi bi-eye-slash-fill'" matSuffix (click)="hide2 = !hide2">{{hide2 ? ' Show' : ' Hide'}}</i>
          </div>
          <input type="password" [type]="hide2 ? 'password' : 'text'" id="pass2" name="pass2" tabindex=”0”  required minlength="(8)" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" title="La contraseña debe contener una mayúscula y al menos un número" required>
        </div>

      </div>

      <div class="validacion">
        <ul>
          <li type="disc">Usa al menos 1 símbolo</li>
          <li type="disc">Usa al menos 1 número</li>
          <li type="disc">Usa 8 o más caracteres</li>
          <li type="disc">Usa mayúsculas y minúsculas</li>
        </ul>
        <div class="terminos">
          <input type="checkbox" id="politica-privacidad" name="politica-privacidad" value="politica-privacidad" required>
          <label for="politica-privacidad"><strong>Al crear una cuenta aceptas los Términos de Uso y la Política de Privacidad.</strong></label>
        </div>

      </div>

      <div class="sign-in">
        <input type="submit" tabindex=”0” value="Crear Cuenta">
      </div>

    </form>
  </div>

  <div class="box2">
    <div class="login">
      <p>¿Tienes una cuenta?</p>
      <a routerLink='/login' tabindex=”0”><strong>Iniciar Sesión</strong></a>
    </div>
  </div>
</section>
